In [1]:
import pandas as pd
import json
from itertools import chain
from collections import ChainMap

with open('response.json') as f:
    data_dict = json.load(f)

In [2]:
data_list = data_dict['response']['comparables']

In [3]:
grouped_dict = {}
[grouped_dict.setdefault(key, []).append(value) for d in data_list for key, value in d.items()]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [4]:
ordered_dict = {}
for key, value in grouped_dict.items():
    for i, inner_dict in enumerate(value):
        if key == 'media':
            continue
        ordered_dict.setdefault(i, []).append(inner_dict)

In [5]:
final_dict = {}
for key, value in ordered_dict.items():
    final_dict[key] = dict(ChainMap(*value))

In [6]:
df = pd.DataFrame.from_dict(final_dict).T

In [7]:
df

,bathrooms_full,bathrooms_half,bedrooms_total,garage_spaces,living_area,year_built,property_type,address,distance,gis,close_date,close_price,r1r6,lot_size
0,2,0,3,0,1246,1925,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.2,"{'latitude': 32.718752, 'longitude': -96.801226}",2022/11/18,250000,"{'bathroom': 3.1, 'exterior': 3.7, 'interior':...",7536
1,1,0,2,1,1078,1951,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.22,"{'latitude': 32.7149, 'longitude': -96.800177}",2023/05/19,226000,"{'bathroom': 2.9, 'exterior': 3.9, 'interior':...",8625
2,2,0,3,0,1164,1926,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.43,"{'latitude': 32.723402, 'longitude': -96.800918}",2023/05/25,278000,"{'bathroom': 3.2, 'exterior': 4.4, 'interior':...",7710
3,2,0,4,2,1312,1948,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.59,"{'latitude': 32.709124, 'longitude': -96.796857}",2023/10/03,265000,"{'bathroom': 3.1, 'exterior': 4.5, 'interior':...",7623
4,2,0,4,2,1278,1949,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.56,"{'latitude': 32.709503, 'longitude': -96.79907}",2023/11/09,250000,"{'bathroom': 2.9, 'exterior': 4.1, 'interior':...",7623
5,2,0,3,0,1236,1933,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.86,"{'latitude': 32.724885, 'longitude': -96.809954}",2023/06/30,285000,"{'bathroom': 3.6, 'exterior': 3.7, 'interior':...",7275
6,2,0,4,0,1268,1951,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.96,"{'latitude': 32.709655, 'longitude': -96.784525}",2023/07/21,250000,"{'bathroom': 2.9, 'exterior': 4.2, 'interior':...",6821
7,1,0,3,1,912,1962,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.91,"{'latitude': 32.704603, 'longitude': -96.795805}",2023/05/26,220000,"{'bathroom': 3.1, 'exterior': 4.3, 'interior':...",10672
8,1,0,3,1,936,1949,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.7,"{'latitude': 32.708846, 'longitude': -96.791881}",2023/05/19,205000,"{'bathroom': 2.3, 'exterior': 4.2, 'interior':...",6882
9,1,0,3,0,1151,1938,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.1,"{'latitude': 32.716526, 'longitude': -96.796846}",2023/04/20,220000,"{'bathroom': 3, 'exterior': 4.3, 'interior': 2...",6447
10,2,0,3,1,1268,1952,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.25,"{'latitude': 32.715709, 'longitude': -96.79445}",2023/03/01,224000,"{'bathroom': 3, 'exterior': 4.3, 'interior': 3...",7841
11,2,1,3,0,1276,1952,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.31,"{'latitude': 32.713052, 'longitude': -96.798273}",2023/05/31,269900,"{'bathroom': 3.1, 'exterior': 4.8, 'interior':...",9670
12,2,0,3,0,1223,1951,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.96,"{'latitude': 32.705541, 'longitude': -96.806177}",2023/09/14,230000,"{'bathroom': 2.8, 'exterior': 4.5, 'interior':...",7797
13,2,0,3,0,1232,1949,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.74,"{'latitude': 32.709097, 'longitude': -96.790378}",2023/05/10,243000,"{'bathroom': 3.3, 'exterior': 4.3, 'interior':...",7318
14,2,0,3,0,1200,1921,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.97,"{'latitude': 32.713883, 'longitude': -96.814179}",2023/08/15,245000,"{'bathroom': 2.9, 'exterior': 5, 'interior': 3...",7275
15,2,0,3,0,1144,1947,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.81,"{'latitude': 32.707286, 'longitude': -96.791575}",2023/11/20,215000,"{'bathroom': 3, 'exterior': 4.1, 'interior': 3...",8015
16,2,0,3,0,1195,1935,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.92,"{'latitude': 32.711933, 'longitude': -96.812464}",2023/05/17,238750,"{'bathroom': 3.3, 'exterior': 3.7, 'interior':...",7536
17,1,0,3,1,1080,1951,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.84,"{'latitude': 32.710164, 'longitude': -96.786733}",2023/08/28,224000,"{'bathroom': 3, 'exterior': 4.8, 'interior': 3...",8538
18,1,0,2,0,1092,1922,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.67,"{'latitude': 32.711497, 'longitude': -96.807113}",2023/11/01,189000,"{'bathroom': 3.3, 'exterior': 4.2, 'interior':...",7362
19,1,0,3,1,1070,1940,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.63,"{'latitude': 32.726439, 'longitude': -96.800922}",2023/08/31,195000,"{'bathroom': 2.9, 'exterior': 4.8, 'interior':...",7057
20,1,0,2,0,946,1925,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.82,"{'latitude': 32.708748, 'longitude': -96.807373}",2023/05/12,199900,"{'bathroom': 3.4, 'exterior': 4.6, 'interior':...",7275
21,2,0,3,0,1182,1949,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.86,"{'latitude': 32.705405, 'longitude': -96.795392}",2023/07/18,220000,"{'bathroom': 3.9, 'exterior': 4.3, 'interior':...",6403
22,2,0,3,1,1234,1941,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.25,"{'latitude': 32.71511, 'longitude': -96.794991}",2023/08/11,200000,"{'bathroom': 3.6, 'exterior': 4.7, 'interior':...",5924
23,2,0,3,0,1204,1940,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.46,"{'latitude': 32.723947, 'longitude': -96.800408}",2023/05/05,240000,"{'bathroom': 0, 'exterior': 3.8, 'interior': 0...",7667
24,1,0,3,0,972,1951,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.79,"{'latitude': 32.708963, 'longitude': -96.806901}",2023/09/26,140000,"{'bathroom': 4, 'exterior': 4.4, 'interior': 3...",7532
25,1,1,2,0,1192,1950,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.72,"{'latitude': 32.711068, 'longitude': -96.788393}",2023/09/19,229000,"{'bathroom': 4.2, 'exterior': 4.2, 'interior':...",8756
26,2,0,3,1,1249,2006,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.89,"{'latitude': 32.728455, 'longitude': -96.806327}",2023/10/27,230000,"{'bathroom': 4, 'exterior': 3.9, 'interior': 4...",7405
27,2,0,4,2,1200,1948,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.64,"{'latitude': 32.708377, 'longitude': -96.796343}",2023/06/09,230000,"{'bathroom': 4.2, 'exterior': 4.5, 'interior':...",7492
28,1,0,3,0,985,1951,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.89,"{'latitude': 32.707556, 'longitude': -96.788605}",2023/08/31,199999,"{'bathroom': 3.5, 'exterior': 5.2, 'interior':...",8756
29,1,0,3,0,1064,1938,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.15,"{'latitude': 32.71577, 'longitude': -96.796719}",2023/09/18,205000,"{'bathroom': 4.5, 'exterior': 4.6, 'interior':...",7710
30,2,0,2,0,1264,1940,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.32,"{'latitude': 32.718314, 'longitude': -96.803518}",2023/05/15,120000,"{'bathroom': 4.3, 'exterior': 4.7, 'interior':...",7362
31,1,0,3,1,1205,1940,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.3,"{'latitude': 32.713689, 'longitude': -96.795737}",2023/09/15,210000,"{'bathroom': 4.5, 'exterior': 4.6, 'interior':...",9714
32,2,0,3,0,1103,1941,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.25,"{'latitude': 32.714787, 'longitude': -96.795423}",2023/07/07,139000,"{'bathroom': 4.6, 'exterior': 4.6, 'interior':...",6621
33,1,0,2,2,1134,1947,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.97,"{'latitude': 32.731589, 'longitude': -96.798323}",2023/05/11,200000,"{'bathroom': 4.9, 'exterior': 4.7, 'interior':...",6186
34,2,0,3,0,1164,1948,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.68,"{'latitude': 32.707905, 'longitude': -96.796152}",2023/05/26,140000,"{'bathroom': 4.9, 'exterior': 4.9, 'interior':...",7579
35,2,0,3,2,1160,1949,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.51,"{'latitude': 32.710203, 'longitude': -96.797601}",2023/08/29,127000,"{'bathroom': 0, 'exterior': 5.1, 'interior': 0...",7710
36,1,0,2,0,1080,1925,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.98,"{'latitude': 32.730121, 'longitude': -96.805801}",2023/08/24,95500,"{'bathroom': 0, 'exterior': 5.2, 'interior': 0...",7231
37,1,0,3,0,980,1949,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.73,"{'latitude': 32.709954, 'longitude': -96.789476}",2023/06/30,200000,"{'bathroom': 0, 'exterior': 0, 'interior': 0, ...",6229
38,1,0,1,0,950,1925,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.55,"{'latitude': 32.717383, 'longitude': -96.807517}",2023/09/27,110000,"{'bathroom': 0, 'exterior': 0, 'interior': 0, ...",9104
39,1,0,2,2,1134,1947,general single family,"{'city': 'dallas', 'country': 'us', 'postal_co...",0.98,"{'latitude': 32.731704, 'longitude': -96.79835}",2023/05/11,200000,"{'bathroom': 0, 'exterior': 0, 'interior': 0, ...",5358